@use "../partials/variables" as *;
@use "../partials/mixins" as *;

.modal {
  position: fixed;
  inset: 0;
  z-index: 999;

  &__backdrop {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
  }

  &__card {
    position: relative;
    width: 360px;
    margin: 0 auto;
    top: 25%;
    padding: $space-lg;
    @include card;
  }

  &__title {
    margin: 0 0 $space-sm 0;
    font-size: 18px;
    font-weight: 800;
  }

  &__text {
    margin: 0 0 $space-md 0;
    color: $color-gray;
    font-size: 14px;
    line-height: 1.4;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
  }
}
