@use "../partials/variables" as *;

.select {
  width: 100%;
  padding: 12px 14px;
  border-radius: $radius-md;
  border: 1px solid $color-border;
  background-color: #f9fafb;
  font-size: 14px;

  &:focus {
    outline: none;
    border-color: $color-primary;
    background-color: $color-white;
  }
}
